.project {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 40px;
}

.project-image {
	width: 100%;
	object-fit: cover;
	max-height: 300px;
}

.project-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	/* justify-content: space-between; */
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
}

.left-aligned {
	flex-direction: row;
	margin-left: 120px;
}

.right-aligned {
	flex-direction: row-reverse;
	margin-right: 120px;
}

.project-buttons {
	display: flex;
}

.project-title {
	margin-top: 10px;
	margin-bottom: auto;
	font-weight: 700;
	font-size: 1.5rem;
}

.project-description {
	margin: 0 0 1rem;
	font-size: 1rem;
}

.project-technologies {
	margin: auto 0 15px 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.technology-icon {
	width: auto;
	height: 32px;
}

.project-link {
	height: 38.4px;
	padding: 10px;
	font-size: 1rem;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--primary-color);
	border-radius: 3px;
	transition: background-color 0.3s ease;
	width: 100%;
}

.project-link svg {
	height: 22px;
	width: 22px;
	fill: none;
}

.project-link path {
	fill: #fff;
}

.project-link:hover {
	background-color: var(--primary-color);
}

.project-app-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	margin-right: 10px;
}

@media screen and (max-width: 1024px) {
	.left-aligned {
		margin-left: 60px;
	}

	.right-aligned {
		margin-right: 60px;
	}
}

@media screen and (max-width: 768px) {
	.project {
		flex-direction: column;
	}

	.project-image {
		width: 100%;
	}

	.project-content {
		width: 100%;
	}

	.left-aligned,
	.right-aligned {
		margin-left: 0;
		margin-right: 0;
	}
}
