.technology {
	height: 5rem;
	width: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	color: #fff;
}

.tech-image-wrapper {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tech-image,
.tech-icon {
	max-width: 100%;
	max-height: 100%;
}

.tech-name {
	margin-top: 10px;
	/* font-size: 1.125rem; */
	font-size: var(--fs-xs);
	color: black;
}

.tech-description {
	text-align: center;
	margin-bottom: 1rem;
	max-width: 80%;
	font-size: 1.125rem;
}

/* @media (max-width: 600px) {
}

@media (max-width: 768px) {
	.technology {
		height: 7rem;
	}

	.tech-image-wrapper {
		width: 8rem;
		height: 8rem;
	}

	.tech-image,
	.tech-icon {
		max-width: 60%;
		max-height: 60%;
	}
} */
