.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    /* text-align: center; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    max-width: 800px;
    margin: 2rem 0;
}

.social-links {
    margin-top: 2.5rem;
}

.social-links svg {
  width: 1.875em;
  height: 1.875em;
}

.social-links a {
    color: #fff;
    margin: 0 0.625rem;
    text-decoration: none;
}

.social-links a svg path {
    fill: #fff;
}

.name {
    color: #06b6d4;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 5rem;
    margin-bottom: 0;
}

.role {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.introduction {
    line-height: 1.75rem;
}

.resume-button {
    background-color: transparent;
    border: 0.125rem solid #06b6d4;
    color: #06b6d4;
    padding: 0.9375rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0.625rem 0.125rem;
    cursor: pointer;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
