.project {
	position: relative;
	margin-bottom: 2rem;
}

.project-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.project-content {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.project-title {
	margin: 0 0 0.5rem;
	font-weight: 700;
	font-size: 1.5rem;
}

.project-description {
	margin: 0 0 1rem;
	font-size: 0.9rem;
}

.project-technologies {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.project-technologies li {
	display: flex;
}

.technology-icon {
	width: auto;
	height: 24px;
}

.project-link {
	display: inline-block;
	margin-top: 1rem;
	padding: 5px 10px;
	font-size: 0.9rem;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--primary-color);
	border-radius: 3px;
	transition: background-color 0.3s ease;
}

.project-link:hover {
	background-color: var(--primary-color);
}
