.tech-title {
	text-align: center;
	margin-bottom: 2rem;
	position: absolute;
	top: 2rem;
}

.tech-wrapper {
	max-width: 62.5rem;
	width: 100%;
	margin: auto;
}

.tech-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
	/* gap: 2rem; */
	justify-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
}

@media (max-width: 768px) {
	.tech-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 0.7rem;
		padding: 0 1rem;
	}
}

@media (min-width: 900) {
	.tech-grid {
		gap: 1.5rem;
	}
}

@media (min-width: 1200px) {
}
