.technology {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: stretch;
	/* background-color: #03060a; */
	background-color: #070d16;
	border: 0.125rem solid #262626;
	border-radius: 1rem;
	padding: 1rem;
	color: #fff;
}

.tech-image-wrapper {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tech-image,
.tech-icon {
	max-width: 70%;
	max-height: 70%;
}

.tech-name {
	margin: 0;
	font-size: 1.125rem;
}

.tech-description {
	text-align: center;
	margin-bottom: 1rem;
	max-width: 80%;
	font-size: 1.125rem;
}

@media (max-width: 600px) {
}

@media (max-width: 768px) {
	.technology {
		height: 7rem;
	}

	.tech-image-wrapper {
		width: 8rem;
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tech-image,
	.tech-icon {
		max-width: 60%;
		max-height: 60%;
	}
}

/* @media (max-width: 900) {
	.tech-image-wrapper {
		width: 8rem;
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tech-image,
	.tech-icon {
		max-width: 80%;
		max-height: 80%;
	}
}

@media (max-width: 1200px) {
} */
